[submodule "BasicDisplay"]
	path = BasicDisplay
	url = git@github.com:KDKHD/BasicDisplay.git
[submodule "UserSecurity"]
	path = UserSecurity
	url = git@github.com:KDKHD/UserSecurity.git
[submodule "KubernetesManager"]
        path = KubernetesManager
        url = git@github.com:KDKHD/KubernetesManager.git
[submodule "Client"]
	path = Client
	url = git@github.com:KDKHD/client.git
